@use "/src/scss/base/fonts";
@use "/src/scss/base/variables";
label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    gap: 0.2rem;

}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid variables.$primaryColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: variables.$primaryColor;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}


