@use "/src/scss/base/fonts";
@use "/src/scss/base/variables";

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: auto;
  border-radius: 5px;
  margin-top: -75px;
  margin-bottom: 50px;



  h2 {
    font-size: 1.8rem;
    white-space: nowrap;
    margin-bottom: 5px;
  }
  
  .inputContainer  {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 10px;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  button {
    background-color: variables.$secondaryColor;
    color: variables.$primaryColor;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 15px 35px 15px 35px;
    border: none;
    cursor: pointer;
    transition: .1s linear;

    &:hover {
      background-color: variables.$primaryColor;
      color: variables.$secondaryColor;
    }
  }

  .roleFilter,
  .levelFilter,
  .contractTypeFilter {
    display: flex;
    flex-direction: column;
    width: min-content;
    gap: 0.5rem;
    padding: 5px;
  }
}
