.filter {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(247, 237, 237, 0.15);
    width: 65%;
    max-width: 1100px;
    border-radius: 5px;

    .roleFilter {
        display: flex;
        flex-direction: column;
    }
}